$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
}

cite {
    font-style: italic;
    font-size: .8em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//     padding-left: 15px;
//     padding-right: 15px;
// }

.cleaner-list {
    padding-left: 20px;
    line-height: 1.6;
}

.archive-list {
    font-weight: bold;
}

.active-link {
    background-color: #045FB4;

    a {
        color: #ffffff;
    }

    &:hover {
        a {
            color: #428bca;
        }
    }
}
/* Custom page header */

.header-section {
    // margin-bottom: 30px;
    border-bottom: 1px solid #045FB4;
    padding-bottom: 10px;
}

.nav-pills li {
    border-radius: 4px;
}

.sr-only {
    position: relative;
    width: inherit;
    height: inherit;
}

.mobile-nav {
    display: none;
}

.tab-widget {
    a {
        font-weight: bold;
    }
}

.content-section {
    padding-top: 20px;
}

.date {
    font-style: italic;
    font-size: .8em;
}

.article-content {
    padding-bottom: 10px;
    height: inherit;
    
    img {
        float: left;
        margin-right: 10px;
        height: inherit;
    }
}

.article-link {
    font-style: italic;
    font-size: .9em;
    text-decoration: underline;
}

.mobile-image {
    margin-bottom: 15px;
}

.page-content {
    img {
        width: 100%;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    padding-bottom: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    border-bottom: 1px solid #e5e5e5;
    text-align: justify;
    padding: 30px;

    img {
        // width: 100%;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 1.6;
    }
}

.container {
    .jumbotron {
        padding: 30px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1020px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .nav-pills {
        width: 100%;
        text-align: center;
        li {
            width: 19%;
        }
    }

    .desktop-nav {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .logo-box {
        text-align: center;
    }

    .header-section {
        padding-bottom: 0px;
    }

    .archive-box {
        .panel-body {
            .cleaner-list li {
                display: inline-block;
                margin-right: 15px;
            }
        }
    }

}

@media screen and (max-width: 400px) {
    body {
        background-color: #040C20;
        color: white;
    }

    .header-content {
        img {
            width: 100%;
        }
    }

    .nav-pills {
        text-align: center;
        li {
            width: 100%;
        }
    }

    .nav-pills > li + li {
        margin-left: 0px;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: gray;
        color: #ffffff;
    }

    .nav-tabs > li > a {
        border: 1px solid #ffffff;
    }

    .archive-box {
        display: none;
    }

    .mobile-nav {
        display: block;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 1px;

        .btn {
            border-radius: 0px;
            text-align: left;
        }
    }

    .mobile-image {
        width: 100%;
    }

    .desktop-nav {
        display: none;
    }

    a:hover {
        color: #ffffff;
    }

    .jumbotron {
        background: #091D33;
        border: 1px solid rgb(23, 40, 70);
        font-size: 18px;
    }

    .footer {
        background-color: #011030;
    }
}
